.title-slide 
{
  background-color: white;
}

.title-slide hgroup h1 
{
  font-size: 65px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #515151;
}

aside.gdbar img 
{
  width: 75px; 
  height: 75px; 
  position: absolute;
  right: 0;
  margin: 8px 15px;
}

body 
{
  background: #303030;
}

p 
{
    font-size: 15px;
	color: #222;
}

h2 
{
    color: #AA0000 !important;
}

code 
{
  font-size: 60%;
  font-family: "Source Code Pro", monospace;
  color: darkred;
}
